@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Major+Mono+Display&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body{
  margin: 0;
}
.App{
  min-height: 100vh;
  padding-bottom: 4%;
}

/* NAVBAR */

#navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  /* padding: 0; */
  
}
.navbar-left h1{
  font-family: 'Great Vibes', cursive;
  font-size: 5vw;
}

/* CONTENT */

.large-word-heading{
  text-align: center;
  margin-bottom: 15%;
  margin-top: 5%;
  font-size: 6vw;
  font-family: 'Major Mono Display', monospace;
}

.input-form{
  margin-bottom: 7%;
  text-align: center;
}
.input-form button{
  background: rgb(168, 165, 165);
  border: 0;
  border-radius: 5px;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
  padding: 1%;
}

@media screen and (max-width: 840px) {

  .navbar-left h1{
    font-size: 2.2em;
  }

  .input-form button{
    font-size: 1em;
  }
}

@media screen and (max-width: 380px) {

  .navbar-left h1{
    font-size: 1.7em;
  }
}

.input-form button:hover{
  cursor: pointer;
}
#meaning-display{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  
  width: 80%;
  /* text-align: justify; */
}
.meanings{
  border: solid rgb(207, 204, 204) 1px;
}
.definitions-heading{
  text-align: center;
  margin-bottom: 5%
}
